*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}

body {
  overflow-y: scroll;
  height: 90%;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.gu-mirror {
  list-style-type: none;
  text-align: center;
}

section {
  height: 100vh;
  padding: 20px 0;
}

#dragula {
  touch-action: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.pagewidth {
  margin: 0 auto;
  max-width: 1200px;
}

.yellow {
  background: #ffd400;
  color: #131313;
}

.dark {
  background: #131313;
  color: #ffd400;
}

.test-box, .empty-box, .stats-box {
  margin: 5px;
  flex: 1 1 0;
  border: 3px solid #131313;
}

.dark .test-box, .dark .empty-box, .dark .stats-box {
  margin: 5px;
  flex: 1 1 0;
  border: 3px solid #ffd400;
}

.scroll-box {
  height: 100px;
  width: auto;
  overflow-y: scroll;
}

.empty-box {
  position: relative;
}

.stats-box {
  font-size: 2.2em;
  padding-top: 15px;
  font-weight: bold;
}

.empty-box::after {
  content: 'Swiping around should have an effect here';
  font-size: 1.17em;
  top: 15px;
  position: absolute;
  font-weight: bold;
  left: 0px;
  right: 0px;
}
